syntax: glob

pathconfig.php
pending-tasks.json
application.log
blogconfig.cfg
userdata/fsconfig.php
userdata/system.ini
userdata/groups.ini
userdata/ip_ban.txt
userdata/re_ban.txt
userdata/plugins.xml

vendor
build
node_modules
third-party
doc_project/Data
doc_project/Working Data
doc_project/*_Backup.txt
userdata/*/
design

tags
tags.temp

.komodotools
.phpunit.result.cache
