syntax: glob

pending-tasks.json

vendor
build
node_modules
doc_project/Data
doc_project/Working Data
doc_project/*_Backup.txt
userdata/*/
design

tags
tags.temp

.komodotools
.phpunit.result.cache
