RewriteEngine On

<Files .gitignore>
    Order Allow,Deny
    Deny from all
</Files>

<Files blogconfig.cfg>
    Order Allow,Deny
    Deny from all
</Files>

<FilesMatch "^(build|phpunit)\.xml$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(composer|package)\.json$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(composer|yarn)\.lock$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
