parameters:
    level: 3
    paths:
        - lib
        - plugins
        - tests
        - blogconfig.php
        - index.php
        - cli.php
        - xmlrpc.php
    bootstrapFiles:
        - blogconfig.php
    scanFiles:
        - vendor/phpxmlrpc/phpxmlrpc/lib/xmlrpc.inc
