/* Site banner styles. */

#banner {
	width: 99%;
	padding-left: 1%;
}

#banner h1 {
	text-align: left;
	vertical-align: middle;
	color: white;
}

#banner a:link, #banner a:visited {
	color: white;
	text-decoration: none;
}

#banner a:hover {
	text-decoration: underline;
	background-color: black;
}

@media print {

	#banner {
		display: none;
	}

}
