/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

html, body { 
	height: 100%; 
	background-color: black;
	color: white;
	font-family: monospace;
}

/* Styles for the page content area. */

#pagecontent {
	margin: 1% 1% 1% 1%;
	width: 64%;
	float: left;
}

a:link {
	color: white;
}

a:visited {
	color: white;
}

a:hover {
	color: red;
	background-color: white;
}

input:focus, textarea:focus {
	background-color: #ffffe1;
}

q { font-style: italic; }

@media print {

	/* Styles for the page content area. */

	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 100%;
	}

	a:link, a:visited {
		color: black;
		text-decoration: underline;
	}

}
