/* Styles for comments. */

#entrycomments {
    margin-top: 1%;
}

.commentlist {
    list-style-type: none;
    padding-left: 0;
}

.fullcomment {
    border-bottom: thin dotted black;
    margin-top: 2%;
}

.comment .header h3 {
    padding: 0;
    margin: 0;
}

.comment .footer {
    font-size: 80%;
}

.comment .footer ul {
    padding: 0;
    margin: 0;
}

.comment .footer li {
    list-style-type: none;
}

.commentdata {
    padding: 1%;
}

.comment .footer li.commenturl, 
div.comment .footer li.commentname {
    display: inline;
    margin-right: 1%;
}

.commentname li[class~='user'] {
    font-weight: bold;
}

/* TrackBack styles. */
.tblist {
    background: black;
}

@media print {
    .fullcomment {
        page-break-inside: avoid;
    }

    #commentsubmit {
        display: none;
    }
}
