/* Styles for blog entries. */

div.article {
	/*border: thin solid black;*/
	border-bottom: thin dotted black;
	margin-bottom: 1%;
	/*width: 50%;*/
}

div.articleheader img {
	border: none;
	float: right;
}

div.articleheader h2 {
	margin: 0px;
	padding: 0px;
}

div.articlefooter {
	font-size: 80%;
}

div.articlefooter ul {
	margin: 0px;
	padding: 0px;
}

div.articlefooter li {
	list-style-type: none;
}

.blogadmin {
	display: inline;
}

div.article  div.articlebody {
	padding: 1%;
	/*white-space: pre;*/
}

@media screen {
	
	#commentsubmit {
		display: none;
	}

	.article {
		page-break-inside: avoid;
	}

}
