/* Styles for blog entries. */

div.blogentry {
	/*border: thin solid black;*/
	border-bottom: thin dotted black;
	margin-bottom: 2%;
	/*width: 50%;*/
}

div.blogentryheader h2 {
	margin: 0px;
	padding: 0px;
}

div.blogentryfooter {
	font-size: 80%;
	margin-bottom: 3%;
	clear: both;
}

div.blogentryfooter ul {
	margin: 0px;
	padding: 0px;
}

div.blogentryfooter li {
	list-style-type: none;
}

ul.postadmin li {
	display: inline;
	margin-right: 1%;
}

li.bloguser, li.bloguserurl {
	display: inline;
	margin-right: 1%;
}

div.blogentry  div.blogentrybody {
	padding: 1%;
	/*white-space: pre;*/
}

.blogentrybody p {
	text-indent: 1em;
	clear: both;
}

.blogentrybody img {
	display: block;
	margin: 1em auto;
}

.blogentryfooter h3 {
	margin-bottom: 0px;
	margin-top: 0px
}

@media print {
	
	#commentsubmit {
		display: none;
	}
	
	.blogentry {
		page-break-inside: avoid;
	}
	
}
