/* Styles for comments. */

#entrycomments {
    margin-top: 1%;
}

.commentlist {
    list-style-type: none;
    padding-left: 0;
}

.fullcomment {
    border-bottom: thin dotted black;
    margin-top: 2%;
}

.commentheader h3 {
    padding: 0px;
    margin: 0px;
}

.commentfooter {
    font-size: 80%;
}

.commentfooter ul {
    padding: 0px;
    margin: 0px;
}

.commentfooter li {
    list-style-type: none;
}

.commentdata {
    padding: 1%;
}

.commentfooter li.commenturl, div.commentfooter li.commentname {
    display: inline;
    margin-right: 1%;
}

.commentname li[class~='user'] {
    font-weight: bold;
}

@media print {
    .fullcomment {
        page-break-inside: avoid;
    }

    #commentsubmit {
        display: none;
    }
}
