/*
Styles for page content.
This file contains the styles used for the content of a blog, i.e. entries,
articles, comments, and trackbacks.
*/


/*
Base styles for blog entries.  Many of these cascade down to articles, 
comments, and trackbacks.  To over-ride these for a particular type of object,
add another style later in the file to over-ride the one here.
*/

/* Define the border style and padding for the outer div. */
.blogentry,
.article {
	border-bottom: 1px dotted black;
	margin-bottom: 2%;
}

/* Remove margins and padding for the headings and lists in the header
   and footer elements. */
.blogentryheader h2,
.blogentryfooter h3,
.blogentryfooter ul,
.articleheader h2,
.articleheader ul,
.articlefooter ul,
.commentheader h3,
.commentfooter ul {
	margin: 0px;
	padding: 0px;
}

/* Use a reduced font size for the footer.  Also, add a bottom margin to
   separate the entries and add a clear to keep it from flowing around any
   floated images in the entry. */
.blogentryfooter,
.articlefooter,
.commentfooter {
	margin-bottom: 3%;
	clear: both;
}

/* The lists in entry objects are semantic, not visual, so we don't want any
   kind of graphics displayed in from of our items. */
.commentlist,
.commentfooter li,
.blogentryfooter li,
.articlefooter li,
.articleheader li {
	list-style-type: none;
}

/* For comments, the list is semantic, so we don't want any indent. */
.commentlist {
	padding-left: 0;
}

/* Again with the semantic lists.  For many of these, such as user names, URLs,
   and administrative links, we want to display them inline, not as lists. */
.blogadmin,
.commentfooter,
li.bloguser,
li.bloguserurl,
li.commenturl,
ul.postadmin li,
div.commentfooter li.commentname{
	display: inline;
	margin-right: 1%;
}

.blogentryfooter,
.articlefooter,
.commentfooter {
	font-size: 80%;
}

.commentdata,
.blogentry div.blogentrybody,
.article div.articlebody {
	padding: 1%;
}

.blogentrybody p {
	text-indent: 1em;
	clear: both;
}

.blogentrybody img {
	display: block;
	margin: 1em auto;
}

#entrycomments {
	margin-top: 1%;
}

.tblist {
	background: #f4f4f4;
	border: 1px solid black;
}

.commentname li[class~='user'] {
	font-weight: bold;
}

@media print {
	
	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 100%;
	}
	
	/* When printing, hide the comment submit form. */
	#commentsubmit {
		display: none;
	}
	
	/* Try to avoid page breaks within the entries. */
	.blogentry,
	.article,
	.fullcomment {
		page-break-inside: avoid;
	}
	
}