/* Stock form styles. */

fieldset {
    width: 98%;
    border: 0px;
    margin: 0;
    padding: 0;
}

fieldset#entry_settings {
     border: 1px solid black;
}

fieldset#entry_settings legend {
    margin-left: 3em; 
    font-weight: bold;
}

form {
    width: 98%;
    margin: 0;
    padding: 0;
}

form div,
fieldset div {
    clear: both;
    margin-top: 0.5em;
}

form .settings .left-col,
form .settings .right-col {
    width: 48%;
    margin: 1%;
    clear: none;
}
form .settings .left-col {
    float: left;
}
form .settings .right-col {
    float: right;
}

form .settings .bottom-row {
    width: 98%;
    margin: 1%;
}

textarea {
    width: 100%;
}

textarea.textbox {
    width: 40%;
}

form div.threebutton {
    text-align: center;
}

form div.threebutton input {
    margin-right: 1%;
    margin-left: 1%;
}

.form_buttons {
    text-align: center;
}

.form_buttons input,
.form_buttons button {
    margin-left: 1%;
    margin-right: 1%;
}

.basic_form_label {
    float: left;
    clear: left;
    text-align: right;
    width: 24%;
}

.basic_form_data {
    float: right;
    clear: right;
    text-align: left;
    width: 73%;
    padding-left: 2%;
}

.check_label {
    float: left;
    clear: left;
    text-align: right;
    width: 50%;
}

.check_data {
    float: right;
    clear: right;
    text-align: left;
    width: 48%;
    padding-left: 2%;
}

.basic_form_submit {
    float: left;
    clear: left;
    text-align: right;
    width: 49%;
    padding-right: 1%;
}

.basic_form_clear {
    float: right;
    clear: right;
    text-align: left;
    width: 49%;
    padding-left: 1%;
}

#submit, #clear, #preview, #draft {
    min-width: 6em;
}

form#tbconfirm label {
    width: 30%;
}

label.none,  li label {
    width: auto;
    float: none;
}

#editorbox {
    margin-bottom: 1em;
    width: 98%;
}

#mathent, #editboxes {
    display: none;
}

#editorbox {
    display: block;
}

h4 {
    margin-top: 2px;
    margin-bottom: 2px;
}

/* Entry edit form styles */
div.entry_subject input {
    width: 95%;
}

div.entry_tags input  {
    width: 75%;
}
div.entry_tags select {
    width: 20%;
}

/* Overlay for entry preview on edit page*/
.entry_preview {
    display: none;
    position: absolute;
    box-shadow: 1px 1px 6px;
    border-radius: 5px;
    width: 100%;
    background-color: #fff;
    padding: 5px;
}

.entry_preview .preview-close {
    position: absolute;
    right: 5px;
}

.entry_preview .preview-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(220, 220, 220, 0.5);
}

.entry_preview .preview-overlay .label {
    margin: 0 auto;
    padding: 10px;
    position: absolute;
    width: 50%;
    left: 25%;
    text-align: center;
    top: 40%;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 1px 1px 6px;
}

form.centered label {
    width: 49%;
    margin-right: 2%;
    text-align: right;
    display: inline-block;
}

form.centered input {
    display: inline-block;
}

#postform.html-markup.rich-text .insert-link,
#postform.auto-markup .insert-link,
#postform.markdown-markup .insert-link {
    display: none;
}

.attachment-list-toggle {
    display: block;
}

.attachment-list {
    margin-top: 2px;
}

.attachment-list .attachment {
    min-height: 22px;
}

.attachment-list .scale-link {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/images.png);
    margin-right: 8px;
    margin-left: 8px;
}

.attachment-list .loading {
    display: inline-block;
    width: 16px;
    height: 16px;
    background-image: url(../images/ajax-loader.gif);
    margin-right: 4px;
}

.attachment-list .success {
    color: green;
}

.attachment-list .failure {
    color: red;
}
