/* Site-map menu bar styles. */

@import url(menubar_print.css);

#menubar {
	width: 100%;
	background: #cdcdcd;
	border: thin solid black;
	border-top: none;
	/*margin-bottom: 1em;*/
}

#menubar h1, #menubar h2 {
	font-size: 100%;
	display: inline;
}

#menubar ul {
	display: inline;
	padding-left: 2em;
}

#menubar ul li {
	list-style-type: none;
	display: inline;
	/*background-color: white;*/
	margin-left: 1em;
	margin-right: 1em;
}
