/* Styles for comments. */

#entrycomments {
    margin-top: 1%;
}

.commentlist {
    list-style-type: none;
    padding-left: 0;
}

.blogcomment {
    border-bottom: thin dotted black;
    margin-top: 2%;
}

.blogcomment .header h3 {
    padding: 0px;
    margin: 0px;
}

.blogcomment .footer {
    font-size: 80%;
    padding: 0px;
    margin: 0px;
}

.blogcomment .footer li {
    list-style-type: none;
}

.blogcomment .data {
    padding: 1%;
}

.blogcomment li.commenturl, 
.reply li.commenturl, 
.blogcomment li.commentname,
.reply li.commentname,
.repy .footer li,
.blogcomment .footer li,
.trackback .footer li,
.pingback .footer li {
    display: inline;
    margin-right: 1%;
}

.controlbar {
    display: block;
}

li.user a {
    font-weight: bold;
}

/* Styles for TrackBacks. */
.tblist {
    background: #f4f4f4;
    border: 1px solid black;
}

@media print {
    .fullcomment {
        page-break-inside: avoid;
    }

    #commentsubmit {
        display: none;
    }
}
