/* Sidebar styles. */

#sidebar {
	border: thin solid black;
	margin-top: 2%;
	background-color: #f4f4f4;
	float: right;
	clear: right;
	width: 30%;
}

#sidebar h1, #sidebar h2, #sidebar h4 {
	font-size: 100%;
	margin-right: 1em;
	margin-left: 1em;
}

#sidebar h3, #sidebar .panelheader {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 95%;
	padding-left: 5%;
	color: white;
	background-color: #6b85b0;
}

#sidebar h3 a, #sidebar .panelheader a {
	color: white;
	display: block;
	width: 100%;
}

#sidebar h3 a:visited, #sidebar .panelheader a:visited {
	color: white;
}

#sidebar ul, #sidebar .panel {
	margin: 0px;
	padding-left: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#sidebar .panel {
	padding-left: 8%;
	width: 92%;
}

#sidebar ul li {
	list-style-type: none;
	width: 100%;
	margin: 0px;
	padding: 0px;
} 

#sidebar ul li a:hover {
	background-color: white;
}

#sidebar ul.imglist li a:hover {
	background-color: #f4f4f4;  /* Match the normal background. */
}

#sidebar ul li a {
	display: block;
	padding-left: 8%;
	width: 92%;
}

#sidebar img {
	text-align: center;
	vertical-align: middle;
	margin: 1% 0 1% 5%;
	border: 0px;
}

@media print {

	#sidebar {
		display: none;
	}
	
}
