/*
Styles for non-content elements of page.
This stylesheet is used to customize the navigational and decorative elements 
of the page, as well as to add some global styles.
*/

html,
body {
    height: 100%;
}

/* Generic highlighting for active input controls. */
input[type='checkbox']:focus,
input[type='text']:focus,
input[type='radio']:focus,
textarea:focus {
    background-color: #ffffe1;
}


/* Set the width of the page content.  This is a fluid layout, with the content
section taking up 67% of the width and the sidebar taking up 30%+2px. */
#pagecontent {
    margin: 1% 1% 1% 1%;
    width: 65%;
    float: left;
}

/* Page banner styles. */

#banner {
    width: 99%; /* So that the border doesn't push us over 100%. */
    border: 1px solid black;
    background-color: #6b85b0;
    background-repeat: no-repeat;
}

/* Center the title and description in the header. */
#banner h1,
#banner h2,
#banner h3 {
    text-align: center;
    vertical-align: middle;
    color: white;
}

/* Always keep title white. */
#banner a:link,
#banner a:visited {
    color: white;
    text-decoration: none;
}

/* Add underline when hovering over title link. */
#banner a:hover {
    text-decoration: underline;
}

/* Site-map menu bar styles. */

#menubar {
    width: 100%;
    background: #cdcdcd;
    border: 1px solid black;
    /* Turn off the top border so that it doesn't get 
    doubled with the bannner. */
    border-top: none;
}

#menubar h1,
#menubar h2 {
    font-size: 100%;
    display: inline;
}

#menubar ul {
    display: inline;
    padding-left: 2em;
}

#menubar ul li {
    list-style-type: none;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

/* Sidebar styles. */

#sidebar {
    border: 1px solid black;
    margin-top: 2%;
    background-color: #f4f4f4;
    float: right;
    clear: right;
    width: 30%;
}

#sidebar h1,
#sidebar h2,
#sidebar h4 {
    font-size: 100%;
    margin-right: 1em;
    margin-left: 1em;
}

/* These are used for the heading of the sidebar sections. */
#sidebar h3,
#sidebar .panelheader {
    margin-top: 0px;
    margin-bottom: 0px;
    width: 95%;
    padding-left: 5%;
    /* Font and background colors match banner */
    color: white;
    background-color: #6b85b0;
}

#sidebar h3 a,
#sidebar .panelheader a {
    color: white;
    display: block;
    width: 100%;
}

#sidebar h3 a:visited,
#sidebar .panelheader a:visited {
    color: white;
}

#sidebar ul,
#sidebar .panel {
    margin: 1em 0 1em 0;
    padding-left: 0;
}

#sidebar .panel {
    padding-left: 8%;
    width: 92%;
}

#sidebar ul li {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
} 

#sidebar ul li a:hover {
    background-color: white;
}

#sidebar ul.imglist li a:hover {
    background-color: #f4f4f4;  /* Match the normal background. */
}

#sidebar ul li a {
    display: block;
    padding-left: 8%;
    width: 92%;
}

#sidebar img {
    text-align: center;
    vertical-align: middle;
    margin: 1% 0 1% 5%;
    border: 0px;
}

@media print {

    #banner,
    #menubar,
    #sidebar {
        display: none;
    }
    
}
