/* Styles for blog entries. */

.blogentry {
	border-bottom: thin dotted black;
	padding-bottom: 2%;
}

.blogentry .header h2 {
	margin: 0 0 5px 0;
}

.blogentryheader, .blogentryfooter, .blogentrybody {
	clear: both;
}

.blogentryheader, .blogentryfooter ul, .postdata {
	margin: 0px;
	padding: 0px;
}

.blogentrybody {
	border: 1px dotted black;
	background-color: white;
}

/* Keeps large images withing the paragraph so they don't spill out 
   of the box for this post. */
.blogentrybody p {
	clear: both;
}

.blogentrybody img {
	display: block;
	margin: 1em auto;
}

.blogentryfooter, .postdata {
	font-size: 80%;
}

.blogentryfooter li, .blogentryheader li {
	list-style-type: none;
}

.blogadmin, ul.postadmin li {
	display: inline;
	margin-right: 1%;
}

.blogentry  div.blogentrybody {
	padding: 1%;
}

.blogentry div.blogentrybody p {
	text-indent: 1em;
}

.bloguser, .bloguserurl {
	display: inline;
}

@media print {
	#commentsubmit {
		display: none;
	}

	.blogentry {
		page-break-inside: avoid;
	}
}
