/* Styles for blog entries. */

@import url(blogentry_print.css);

.blogentry {
	/*border: thin solid black;*/
	border-bottom: thin dotted black;
	margin-bottom: 1%;
	/*width: 50%;*/
}

.blogentryheader, .blogentryfooter, .blogentrybody {
	clear: both;
}

.blogentryheader img {
	border: none;
	float: right;
	margin: 4px;
}

.blogentryheader, .blogentryfooter ul, .postdata {
	margin: 0px;
	padding: 0px;
	/*background-color: #c3c3c3;
	border: 1px solid black;*/
}

.blogentrybody {
	border: 1px dotted black;
	background-color: white;
}

/* Keeps large images withing the paragraph so they don't spill out 
   of the box for this post. */
.blogentrybody p {
	clear: both;
}

.blogentrybody img {
	display: block;
	text-align: center;
	margin: 0 auto;
	padding: 1%;
}

.blogentryfooter, .postdata {
	font-size: 80%;
}

.blogentryfooter li, .blogentryheader li {
	list-style-type: none;
}

.blogadmin, ul.postadmin li {
	display: inline;
	margin-right: 1%;
}

.blogentry  div.blogentrybody {
	padding: 1%;
	/*white-space: pre;*/
}

.blogentry div.blogentrybody p {
	text-indent: 1em;
}

.bloguser, .bloguserurl {
	display: inline;
}

@media print {
	#commentsubmit {
		display: none;
	}

	.blogentry {
		page-break-inside: avoid;
	}
}
