/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

@import url(main_print.css);

html, body {
	background: #0066E3; /*#62a4ff;*/
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Styles for the page content area. */

#pagecontent {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	border: thin solid black;
	width: 66%;
	float: right;
	clear: right;
	background: #f4f4f4;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #8B008B;
}

a:hover {
	text-decoration: underline;
	color: red;
}
/*
#pagecontent a:link {
	border-bottom: thin dotted blue;
}

#pagecontent a:visited {
	border-bottom: thin dotted #8B008B;
}

#pagecontent a:hover {
	border-bottom: none;
}
*/
q { font-style: italic; }
