/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

html, body {
	background: #0066E3;
	height: 100%;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

/* Styles for the page content area. */

#pagecontent {
	margin: 1% 1% 1% 1%;
	padding: 1% 1% 1% 1%;
	border: thin solid black;
	width: 66%;
	float: right;
	clear: right;
	background: #f4f4f4;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #8B008B;
}

a:hover {
	text-decoration: underline;
	color: red;
}

q { font-style: italic; }

@media print {

	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 100%;
	}

	a:link, a:visited {
		color: black;
		text-decoration: underline;
	}

}
