/* Styles for comments. */

#entrycomments {
	margin-top: 1%;
}

.comment h3,
ul {
	padding: 0px;
	margin: 0px;
}

ul.footer,
ul.admin {
	font-size: 80%;
}

ul.footer li,
ul.admin li {
	list-style-type: none;
}


ul.admin li {
	display: inline;
	margin-right: 1em;
}

/* TrackBack styles */
ol {
	background: white;
	border: 1px solid black;
}

@media print {
	.fullcomment {
		page-break-inside: avoid;
	}
}
