/* Site banner styles. */

#banner {
	width: 100%;
	/*border: thin solid black;*/
	background-color: #6b85b0;
	margin: 0;
	padding: 1em 0 1em 0;
}

#banner h1 {
	text-align: center;
	vertical-align: middle;
	color: white;
	margin: 0 auto;
	padding: 0;
}

#banner a:link, #banner a:visited {
	color: white;
	text-decoration: none;
}

#banner a:hover {
	text-decoration: underline;
}

@media print {

	#banner {
		display: none;
	}

}
