/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

html, body { 
	background-color: #b5b5b5;
}

div, p, h1, h2, h3, h4  {
	margin: 0;
	padding: 0;
}

/* Styles for the page content area. */

div#container {
	width: 748px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 0;
	background-image: url(/LnBlog/themes/smooth/images/bg.png);
	background-color: white;
	background-repeat: repeat-y;
}

#maincontainer {
	border-top: 1px solid black;
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
	/*background-position: top left;*/
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}

#pagecontent {
	margin: 0;
	padding: 3px;
	width: 492px;
	height: 100%;
	border-right: 0;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #8B008B;
}

a:hover {
	text-decoration: underline;
	color: red;
}

input:focus, textarea:focus {
	background-color: #ffffe1;
}

q { font-style: italic; }

.roundtop { 
	background: url(../images/tr.png) no-repeat top right; 
	background-color: #6b85b0;
}

.roundbottom {
	background: url(../images/br.png) no-repeat top right; 
	background-color: #f4f4f4;
	clear: both;
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}

/* Site banner styles. */

#banner {
	width: 100%;
	/*border: thin solid black;*/
	background-color: #6b85b0;
	margin: 0;
	padding: 1em 0 1em 0;
}

#banner h1, #banner h2, #banner h3 {
	text-align: center;
	vertical-align: middle;
	color: white;
	margin: 0 auto;
	padding: 0;
}

#banner a:link, #banner a:visited {
	color: white;
	text-decoration: none;
}

#banner a:hover {
	text-decoration: underline;
}

/* Sidebar styles. */

#sidebar {
	float: right;
	width: 247px;
	height: 100%;
	margin: 0;
	padding: 0;
	border-left: 0;
	position: relative;
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
	background-position: top right;
}

div#maincontainer>div#sidebar {
	width: 250px;
}

#sidebar h1, #sidebar h2, #sidebar h4 {
	font-size: 100%;
	padding-right: 1em;
	padding-left: 1em;
}

#sidebar h3 {
	margin-top: 0px;
	margin-bottom: 0px;
	width: 95%;
	padding-left: 5%;
	color: white;
	background-color: #6b85b0;
	border-right: 1px solid #6b85b0;
}

#sidebar h3 a {
	color: white;
	display: block;
	width: 100%;
}

#sidebar h3 a:visited {
	color: white;
}

#sidebar ul {
	margin: 0px;
	padding-left: 0px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#sidebar .panel {
	margin: 0px;
	padding-left: 5px;
	margin-top: 1em;
	margin-bottom: 1em;
}

#sidebar ul li {
	list-style-type: none;
	width: 100%;
	margin: 0;
	padding: 0;	
	padding-left: 8%;
	width: 92%;
} 

#sidebar ul li a:hover {
	background-color: white;
}

#sidebar ul.imglist li a:hover {
	background-color: #f4f4f4;  /* Match the normal background. */
}
/*
#sidebar ul li a {
	display: block;
	padding-left: 8%;
	width: 92%;
}
*/
#sidebar img {
	text-align: center;
	vertical-align: middle;
	margin: 1% 0 1% 0;
	border: 0px;
}

/* Site-map menu bar styles. */

#menubar {
	width: 100%;
	background: #cdcdcd;
	/*border: thin solid black;*/
	/*border-top: none;*/
}

#menubar h1, #menubar h2 {
	font-size: 100%;
	display: inline;
}

#menubar ul {
	display: inline;
	padding-left: 2em;
}

#menubar ul li {
	list-style-type: none;
	display: inline;
	margin-left: 1em;
	margin-right: 1em;
}


@media print {

	html, body { 
		background-color: white;
	}

	div#container, #maincontainer, #pagecontent {
		width: 100%;
		margin: 0 auto;
		background-image: none;
		background-color: white;
	}

	.roundtop, .roundbottom, #menubar, #sidebar, #banner { 
		display: none; 
	}

	/* Styles for the page content area. */

	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 100%;
	}

	a:link, a:visited {
		color: black;
		text-decoration: underline;
	}

}
