/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

html, body { 
	background-color: #b5b5b5;
}

div, p, h1, h2, h3, h4  {
	margin: 0;
	padding: 0;
}

/* Styles for the page content area. */

div#container {
	width: 748px;
	margin: 0 auto;
	padding: 0;
	margin-bottom: 0;
	background-image: url(/LnBlog/themes/smooth/images/bg.png);
	background-color: white;
	background-repeat: repeat-y;
}

#maincontainer {
	border-top: 1px solid black;
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
	/*background-position: top left;*/
	width: 100%;
	margin: 0;
	padding: 0;
	clear: both;
}

#pagecontent {
	margin: 0;
	padding: 3px;
	width: 492px;
	height: 100%;
	border-right: 0;
	position: relative;
	left: 0px;
	top: 0px;
	float: left;
	background-image: url(../images/bg.png);
	background-repeat: repeat-y;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #8B008B;
}

a:hover {
	text-decoration: underline;
	color: red;
}

input:focus, textarea:focus {
	background-color: #ffffe1;
}

q { font-style: italic; }

.roundtop { 
	background: url(../images/tr.png) no-repeat top right; 
	background-color: #6b85b0;
}

.roundbottom {
	background: url(../images/br.png) no-repeat top right; 
	background-color: #f4f4f4;
	clear: both;
}

img.corner {
   width: 15px;
   height: 15px;
   border: none;
   display: block !important;
}

@media print {

	html, body { 
		background-color: white;
	}

	div#container, #maincontainer, #pagecontent {
		width: 100%;
		margin: 0 auto;
		background-image: none;
		background-color: white;
	}

	.roundtop, .roundbottom { 
		display: none; 
	}

	/* Styles for the page content area. */

	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 100%;
	}

	a:link, a:visited {
		color: black;
		text-decoration: underline;
	}

}
