RewriteEngine On

<FilesMatch "^(system|groups|profile)\.ini$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(re_ban|ip_ban)\.txt$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^(plugins|user)\.xml$">
    Order Allow,Deny
    Deny from all
</FilesMatch>

<FilesMatch "^logins\.json$">
    Order Allow,Deny
    Deny from all
</FilesMatch>
