/* Styles for blog entries and articles. */

/* Set a bottom border. */
.blogentry,
.article {
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    margin-bottom: 2%;
    box-shadow: 2px 2px 2px rgba(212,212, 212, 0.2);
}

/* Get rid of the margins and padding on various block-level elements. */
.blogentry .header h2,
.blogentry .footer h3,
.blogentry .footer ul,
.article   .header h2,
.article   .header ul,
.article   .footer ul {
    margin: 0;
    padding: 0;
}

.blogentry .header,
.article .header {
    padding: 2px 0 2px 4px;
    margin: 0;
    background-color: #d4d4d4;
}

.blogentry .header a:link,
.article .header a:link {
    color: #364388;
}
.blogentry .header a:visited,
.article .header a:visited {
    color: #5b3688;
}

.blogentry .header a:hover,
.article .header a:hover {
    color: #d70000;
}

.blogentry .footer,
.article .footer {
    padding: 8px;
    border-top: 1px solid #d4d4d4;
}

/* Reduce footer size, add a bottom margin to separate posts on the main page,
   and clear the footer so that floated images don't spill past the bottom
    of the entry. */
.article .footer,
.blogentry .footer {
    font-size: 80%;
    background-color: #f7f7f7;
    clear: both;
}

/* Lists are semantic in the headers and footers, not visual.  Therefore, 
   we turn off the bullets. */
.blogentry .footer li,
.article   .header li,
.article   .footer li {
    list-style-type: none;
}

/* Admin stuff is all inline - we don't need a new line for each action or for
   each piece of user info.  However, we do need a little margin to separate 
    them. */
ul.inline li,
.postadmin li,
.postdata .blogdate,
.postdata .bloguser, 
.postdata .bloguserurl,
.controlbar li {
    display: inline;
    padding-right: 1%;
}

.postdata .bloguser:before {
    content: '- ';
}

.blogentry .comment-desc,
.article .comment-desc {
    display: none;
}

/* Add a little padding so that the entry text doesn't run into the edge of the
   page or othe relements. */
.blogentry .body,
.article   .body {
    padding: 8px;
}

/* Display images as block elements so that they are seperated from the text
   by default.  Also, add a little margin around them.  This is especially 
    helpful when the image is floated left or right, as it keeps the text from
    running into the edge. */
.blogentry .body img {
    display: block;
    margin: 1em auto;
    max-width: 100%; /* Don't overflow the container on big images */
}

.blogentry .trackback-url {
    display: none;
}