/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forms, etc.
*/

body {
    margin: 12px;
}

body {
    background-color: #f9f9f9;
    font-family: Arial, sans-serif;
}

/***** Positioning *****/

#main-wrapper {
    max-width: 1137px;
    margin: 0 auto;
}

/* Banner placement - top of the page, all the way across. */
#banner {
    position: relative;
    width: 100%;
    max-width: 1137px;
    border: 1px solid #d4d4d4;
    border-radius: 5px;
    background-repeat: no-repeat;
    margin: 0 auto;
    padding: 0;
    background-image: url(../images/banner.jpg);
    height: 150px;
}

/* Menubar - right underneath the banner, same width. */
#menubar {
    position: absolute;
    bottom: 0;
    width: 100%;
    margin: 5px;
    padding: 0;
    max-width: 1137px;
}

/* Page content area - left side of page, with margins. */
#pagecontent {
    width: 65%;
    float: left;
    margin-top: 12px;
    position: relative;
}

/* Sidebar - Right side, with space between it and content area. */
#sidebar {
    float: right;
    width: 30%;
    margin-top: 12px;
}


/***** Menubar styles *****/

/* Headings in the menubar.  Normally, this is just the "site map" label 
   at the beginning. */
#menubar h1, #menubar h2 {
    font-size: 100%;
    float: left;
    clear: left;
    margin: 0;
}

#menubar ul {
    float: left;
    padding-left: 2em;
    margin: 0;
}

#menubar ul li {
    list-style-type: none;
    display: inline;
    margin-left: 1em;
    margin-right: 1em;
}

#menubar > .location > li{
    margin: 0;
}

#menubar > .location > li:before {
    content: "\00BB \0020";
}

#menubar > .location > :first-child:before {
    content: "";
}

/***** Sidebar styles *****/

#sidebar h1, 
#sidebar h2, 
#sidebar h4 {
    font-size: 100%;
    margin-right: 1em;
    margin-left: 1em;
}

#sidebar h3, 
#sidebar .panelheader {
    font-size: 16px;
    margin-top: 0;
    margin-bottom: 0;
    padding: 2px 0 2px 5%;
    color: #000;
    background-color: #d4d4d4;
    border: 1px solid #d4d4d4;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#sidebar h3 a, 
#sidebar .panelheader a {
    color: #000;
    display: block;
    width: 100%;
}

#sidebar h3 a:visited, 
#sidebar .panelheader a:visited {
    color: #000;
}

#sidebar ul, 
#sidebar .panel {
    margin: 0;
    padding: 10px 0 10px 0;
    margin-bottom: 10px;
    background-color: #f4f4f4;
    border: 1px solid #d4d4d4;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

#sidebar .panel {
    padding-left: 8%;
    padding-right: 8%;
}

#sidebar ul li {
    list-style-type: none;
    width: 100%;
    margin: 0;
    padding: 0;
    padding-left: 8%;
    width: 92%;
} 

#sidebar > ul > li a:hover, 
#sidebar > ul > li:hover {
    background-color: #f9f9f9;
}

#sidebar .imglist a:hover {
    background-color: #f4f4f4;  /* Match the normal background. */
}

#sidebar img {
    text-align: center;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    border: 0;
}

/* Why did I add that in the first place? */
#sidebar #calendar.panel {
    width: auto;
}

#sidebar .biopicture img {
    max-width: 100%;
}

.description {
    font-size: 80%;
}

#blogroll ul li ul li {
    list-style-type: square;
    list-style-position: inside;
}

#blogroll > ul,
#blogroll > ul > li {
    margin: 0;
}

#sidebar .login-link {
    text-align: right;
    float: right;
    padding-right: 4%;
}

#sidebar .powered-by {
    background-color: inherit;
    border: none;
    float: left;
    padding-left: 4%;
}

/***** Banner styles *****/

#banner h1,
#banner h2,
#banner h3 {
    text-align: center;
    vertical-align: middle;
    color: white;
}

#banner a:link,
#banner a:visited,
#banner ul {
    color: white;
}

#banner .bannerpanel {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 1;
    text-align: right;
}

#banner .bannerpanel form,
#banner .bannerpanel fieldset {
    width: auto;
}

.menupanel {
    float: right;
}

/***** Link styles *****/

/* Base link style: blue text, no underline.
   Visited links: red text, no underline.
    Hovering on links: add underline. 
*/
a:link {
    color: blue;
    text-decoration: none;
}

a:visited {
    color: #8B008B;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
    color: red;
}

a.anchor:link {
    color: white;
}

a.anchor:hover {
    color: gray;
}

.pager .link {
    display: block;
    position: absolute;
    margin-bottom: 20px;
}

.pager-prev {
    left: 0;
    text-align: left;

}

.pager-next {
    right: 0;
    text-align: right;
}

#responsive-menu,
#responsive-close {
    display: none;
}

/* Don't scrunch too far on small screens. */
@media all and (max-width: 600px) {
    body {
        margin: 0;
        padding: 0;
    }

    #responsive-menu {
        float: left;
        font-size: 3em;
        display: block;
        margin: 0 6px;
    }

    #responsive-menu.hide {
        display: none;
    }

    #responsive-close {
        text-align: right;
    }

    #responsive-close a {
        color: white !important;
        text-decoration: none !important;
    }

    #responsive-close a .x {
        font-size: 200%;
    }

    #responsive-close a .close-label {
        font-size: 120%;
        vertical-align: text-bottom;
    }

    #pagecontent,
    #sidebar {
        float: none;
        width: 100%;
    }

    #banner {
        font-size: 80%;
        border-left: 0;
        border-right: 0;
    }

    #menubar {
        margin-right: 0;
        margin-left: 0;
    }

    #sidebar {
        display: none;
        background-color: rgba(86, 86, 86, 0.8);
        border-bottom: 1px solid black;
        position: absolute;
        top: 0;
        margin: 0;
        padding: 0;
    }

    #sidebar.visible,
    #responsive-close.visible {
        display: block;
    }
}

/***** Font styles *****/

/* Put quotes in italics, as IE does not support :before and :after. */
q { font-style: italic; }

/***** Print media styles *****/

@media print {

    /* Styles for the page content area. */

    #pagecontent {
        margin: 1% 1% 1% 1%;
        width: 100%;
    }

    a:link, a:visited {
        text-decoration: underline;
        background-image: none;
    }

    /* Don't show the banner, sidebar, menubar, or commit submit form
       when printing the page. */
    #banner, 
    #menubar, 
    #sidebar, 
    #commentsubmit,
   .pager {
        display: none;
    }
}
