/* Styles for blog entries. */

.article {
	border: thin solid black;
}

.articleheader h2, .articlefooter ul, .articleheader ul {
	margin: 0;
	padding: 0 0 0 1%;
}

.articleheader, .articlefooter {
	background-color: #c3c3c3;
}

.articleheader {
	border-bottom: thin solid black;
}

.articlefooter {
	border-top: thin solid black;
}

.articlefooter, .articleheader ul {
	font-size: 80%;
}

.articlefooter li, .articleheader li {
	list-style-type: none;
}

.blogadmin {
	display: inline;
	margin-right: 1%;
}

.article  div.articlebody {
	padding: 1%;
}

@media screen {
	
	#commentsubmit {
		display: none;
	}

	.article {
		page-break-inside: avoid;
	}

}
