/* Styles for blog entries. */

@import url(blogentry_print.css);

div.blogentry {
	border: thin solid black;
	margin-bottom: 1%;
	/*width: 50%;*/
}

 div.blogentryheader {
	border-bottom: thin solid black;
	background-color: #c3c3c3;
}

div.blogentryheader img {
	border: none;
	float: right;
}

div.blogentryheader h2 {
	margin: 0px;
	padding: 0px;
}

div.blogentryheader ul {
	margin: 0px;
	padding: 0px;
}

div.blogentryheader li {
	list-style-type: none;
}

div.blogentry div.blogentryheader div.bloguser {
	display: inline;
	clear: none;
	width: 50%;
	margin-right: 5%;
	text-align: left;
}

div.blogentry div.blogentryheader div.blogadmin {
	width: 40%;
	/*float: right;*/
	left: 50%;
	clear: none;
	display: inline;
	text-align: right;
}

div.blogentry div.blogentryheader div.blogadmin a {
	margin-right: 1em;
}

div.blogentry  div.blogentrybody {
	padding: 1%;
	/*white-space: pre;*/
}
