/* Styles for blog entries. */

.blogentry {
	border: thin solid black;
	margin-bottom: 2%;
}

 .blogentryheader {
	border-bottom: thin solid black;
	background-color: #c3c3c3;
	padding-left: 1%;
}

.blogentryheader h2, .blogentryheader ul {
	margin: 0;
	padding: 0;
}

.blogentryheader ul {
	font-size: 80%;
}

.blogentryheader li {
	list-style-type: none;
}

.blogentry  div.blogentrybody {
	padding: 1%;
}

.blogentrybody p {
	clear: both;
}

.blogentrybody img {
	display: block;
	margin: 1em auto;
}

.bloguser, .bloguserurl {
	display: inline;
}

.postadmin li {
	display: inline;
	margin-right: 2%;
}

@media screen {
	
	#commentsubmit {
		display: none;
	}

	.blogentry {
		page-break-inside: avoid;
	}

}
