/* 
Main style sheet.  This controls the basic page look, including the page header, 
menu bar, and sidebar.  It does not include the blog entries, comments, forums, etc.
*/

html, body { height: 100%; }

/* Styles for the page content area. */

#pagecontent {
	margin: 1% 1% 1% 1%;
	width: 60%;
	float: left;
}

a:link {
	text-decoration: none;
	color: blue;
}

a:visited {
	text-decoration: none;
	color: #8B008B;
}

a:hover {
	text-decoration: underline;
	color: red;
}

input:focus, textarea:focus {
	background-color: #ffffe1;
}

@media print {

	/* Styles for the page content area. */

	#pagecontent {
		margin: 1% 1% 1% 1%;
		width: 95%;
	}

	a:link, a:visited {
		color: black;
		text-decoration: none;
	}

}
