/* Sidebar styles. */

#sidebar {
	border: 1px solid black;
	background: #c3c3c3;
	float: right;
	clear: right;
	padding: 1%;
	margin: 1%;
	width: 30%;
}

#sidebar h3, #sidebar .panelheader {
	font-size: 100%;
	color: white;
	background: black;
	padding-left: 1em;
	margin-bottom: 0;
	border: thin solid black;
	border-bottom: 0;
}

#sidebar h3 a, #sidebar .panelheader a {
	width: 100%;
	color: white;
}

#sidebar h3 a:link, #sidebar .panelheader a:link {
	width: 100%;
	background: black;
	color: white;
}

#sidebar ul, #sidebar .panel {
	background: white;
	margin: 0;
	padding: 0;
	border: thin solid black;
	width: 100%;
}

#sidebar .panel {
	padding-left: 8%;
	width: 92%;
}

#sidebar ul li {
	list-style-type: none;
	margin-left: 10%;
}

img {
	margin-top: 2%;
	border: none;
}

@media print {
	#sidebar {
		display: none;
	}
}
